body {
  background-image: url('src/app/images/images2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}	

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #6699cc;
  text-align: right;
}