.tab{
    margin: 30px auto;
    width: 60%;
    border: 3px solid black;
}
th{
    height: 20px;
    background-color: skyblue;
    color: black;
    text-transform: uppercase;
}
.user-line{
    text-align: center;
    background-color: silver;
    font-size: 20px;
}

td {
    padding: 10px;
}

a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
}

.button:hover{
    background-color: blueviolet;
}

.button{
    margin: 0 10px;
}

.add-button{
    margin: 20px auto;
    width: fit-content;
    position: relative;
}
.add-button mat-icon{
    font-size: 60px;
    color: rgb(118, 134, 141);
}

.add-button mat-icon:hover{
    color:  rgb(3, 140, 194);
}

h4{
    position: absolute;
    top: 50px;
    left: 19px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}