<div>
  <form [formGroup]="cucmuserForm" (ngSubmit)="onSubmit()">

      <div class="title">
          <h2>New Cucm User</h2>
      </div>

      <div class="form-element">
          <mat-form-field class="form-field">
              <input matInput placeholder="name" formControlName="name">
              <mat-hint *ngIf="!name.value">Enter The Name</mat-hint>
          </mat-form-field>
      </div>

      <div class="form-element">
          <mat-form-field class="form-field">
              <input matInput placeholder="Password" type="password" formControlName="password">
              <mat-hint *ngIf="!password.value">Enter The Password</mat-hint>
          </mat-form-field>
      </div>

      <div class="form-element">
          <mat-form-field class="form-field">
              <input matInput placeholder="Local" formControlName="local">
              <mat-hint *ngIf="!local.value">Enter Your Local</mat-hint>
          </mat-form-field>


          <!-- <mat-error *ngIf="local.touched && (local.value !== password2.value)" id="password2-error">
              passwords do not match !
          </mat-error> -->
      </div>

    


      <div class="button-div">
          <button class="button" mat-raised-button type="submit"
              [disabled]="(cucmuserForm.invalid || isSending)"
              color="primary">Submit</button>
      </div>
  </form>