<div>
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>User ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>Local</th>
                <th *ngIf="hasPermission('cucmUser:write')">ACTION</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cucmuser of cucmusers" class="cucmuser-line">
                <td> {{ cucmusers.indexOf(cucmuser)+1 }} </td>
                <td> {{ cucmuser.cucmUserId }} </td>
                <td> {{ cucmuser.name }} </td>
                <td> {{ cucmuser.password }} </td>
                <td> {{ cucmuser.local | uppercase }}  </td>

                <td *ngIf="hasPermission('cucmUser:write')">
                    <button mat-raised-button class="button" (click)="deleteCucmuser(cucmuser.cucmUserId)" color="warn">Delete</button>
                    <button mat-raised-button class="button" (click)="updateCucmuser(cucmuser.cucmUserId)" color="primary">Update</button>
                </td>

            </tr>
        </tbody>
    </table>


    <div class="add-button">
        <a routerLink="/cucmusers/edit" routerLinkActive="active"><mat-icon>person_add</mat-icon></a>
        <h4>Add</h4>
    </div>
    

</div>