* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-image: url("src/app/images/images4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  