<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
      <div class="title">
        <h2>User Login</h2>
      </div>
  
      <div class="form-element">
        <mat-form-field class="form-field">
          <input matInput placeholder="username" formControlName="username">
          <mat-hint *ngIf="!username.value">Enter your username</mat-hint>
        </mat-form-field>
      </div>
  
      <div class="form-element">
        <mat-form-field class="form-field">
          <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <mat-icon class="hide-password-icon" matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="!password.value">Enter your password</mat-hint>
          </mat-form-field>
      </div>
  
        <p>{{badLoginMessage}}</p>
  
      <div class="button-div">
        <button class="button" mat-raised-button type="submit" [disabled]="loginForm.invalid || isSending" color="primary">Login</button>
      </div>
    </form>
  
    
    <div class="register">
      <a routerLink="/register" routerLinkActive="active">Create account</a>
    </div>
  </div>
