<header>
    <a routerLink="/home" class="logo">CUCM App</a>

    <div>
        <nav>
            <ul class="links">
                <li class="link" routerLinkActive="active"> <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="link" routerLinkActive="active"> <a routerLink="/cucmusers" routerLinkActive="active">Cucm
                        Users</a> </li>
                <li class="link" routerLinkActive="active"> <a routerLink="/users" routerLinkActive="active">User</a>
                </li>
            </ul>
        </nav>
    </div>

    <div *ngIf="!isLoggedIn()">
        <a routerLink="/login" routerLinkActive="active" class="auth">Login</a>
        <a routerLink="/register" routerLinkActive="active" class="auth">Register</a>
    </div>
    
    <div *ngIf="isLoggedIn()">
        <a (click)="logout()" routerLink="/home" routerLinkActive="active" class="auth">Logout</a>
    </div>

</header>